.THIS .sidenav {
    height: 100%;
    width:16%;
    margin-top:6%;
    font-weight: bold;
    font-size:15px;
    position: fixed;
    color:#9E7BFF;
    z-index: 1;
    top: 0;
    left: 0;
    margin-right:7%;
    overflow-y: auto;
    overflow-x: auto;
    background-color:#FFFFFF;
    
}
.THIS .custom-button1{
    color:black;
    width: 98%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow:none;
}
.THIS .custom-button1:hover{
    background:  #E8F3FD no-repeat;
    color:#1589EE;
    font-weight : bold ;
    box-shadow:none;
}
.THIS .custom-button1:focus {
    background: #E8F3FD fixed;
    outline-color: transparent ;
    border:none;
    box-shadow:none;
    color:#1589EE;
}